<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
			<p>
				<canvas id="profileCanvas" width = "200" height = "200">
				</canvas>
			</p>
			<form>
				<input type = "button" value ="Edit Profile" class = "editProfileButton">
				<input type = "button" value ="" class = "logOutButton">
			</form>
			<h3>
				TEST
			</h3>
			<p>
				test
			</p>
		</div>
	</div>
	<div class = "rightContent">

		<div class = "searchBar">
			<form>
				<input type = "text" name= "searchName" class = "searchBox" value ="Search Student" onfocus="this.value==this.defaultValue?this.value='':null">
				<input type = "text" name = "filterTo"  class = "filterBox" value ="Filter To" onfocus="this.value==this.defaultValue?this.value='':null">
			</form>
		</div>

		<div class = "tableDiv">
			<p>
			<a class = "standardButton" href = "#/facilitator-dashboard/Categories">Learning Categories</a>
			<a  class = "standardButton" href = "#/facilitator-dashboard/Students">Students</a>
			<a  class = "standardButton" href = "#/facilitator-dashboard/Tasks">All Tasks</a>
			</p>

		</div>
	</div>
</div>