.challenge-col {
    padding: 0;
    margin: 0;
}

.character-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 15px;
    padding: 5px;
    border: 1px #888 solid;
    border-radius: 3px;
}

.character-image {
    max-height: 200px;
    max-width: 200px;
}

.character-info {
    width: 60%;
    min-width: 200px;
}

.character-image-wrapper {
    height: 100%;
    margin-right: 10px;
}

.doc-col {
    padding: 0;
    margin: 0;
}

.doc-image {
    margin-left: auto;
    margin-right: auto;
    max-height: 600px;
    max-width: 500px;
}

/* Dragula Styling */
.dragging {
    opacity: .2;
}

.over {
    border: 3px blue solid;
}
