<div class="char-challenge">
    <div class="col-sm-5 doc-col">
        <div class="doc" [dragula]='"doc-images"'>
            <img src="{{documentUrl}}" class="doc-image">
        </div>
    </div>
    <div class="col-sm-7 challenge-col">
        <div class="challenge-field" *ngIf="characters">
            <div class="row">
                <h4 class="h2">{{title}}</h4>
            </div>
            <div class="row" *ngFor="let ch of characters; let i = index">
                <div class="character-card" id="character{{i}}" [dragula]='"doc-images"'>
                    <div class="character-image-wrapper">
                        <img src="{{ch.imageUrl}}" class="character-image">
                    </div>
                    <div class="character-info">
                        <h4 class="h4">{{ch.name}}</h4>
                        <p class="card-text">{{ch.bio}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
