<modal  #generatedModal
        title="{{modalOptions?.title}}"
        cancelButtonLabel="{{modalOptions?.cancelButtonLabel}}"
        submitButtonLabel="{{modalOptions?.submitButtonLabel}}"
        modalClass="if-modal {{modalOptions?.modalClass}}"
        [hideCloseButton]="modalOptions?.hideCloseButton"
        [closeOnEscape]="modalOptions?.closeOnEscape"
        [closeOnOutsideClick]="modalOptions?.closeOnOutsideClick"
        (onOpen)="modalOptions?.onOpen()"
        (onClose)="modalOptions?.onClose()"
        (onSubmit)="modalOptions?.onSubmit()">
    <modal-header #header>
    </modal-header>
    <modal-content #content>
    </modal-content>
    <modal-footer #footer>
    </modal-footer>
</modal>
