<div class="row all">
  <div class="col-sm-5">
    <div class="head">
      <h1 class="text-center">
        Today I want to ...
      </h1>
    </div>
  </div>

  <div class="col-sm-7">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i class="fa fa-pencil" aria-hidden="true"></i>
          Work Smarter
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button" href="#/challenge/1">
          Explore
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button" href="#/challenge/2">
          Identify
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button" href="#/challenge/3">
          Match
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i class="fa fa-home" aria-hidden="true"></i>
          Live Better
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button" href="#/challenge/4">
          Facilitator Dashboard
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i class="fa fa-heart" aria-hidden="true"></i>
          Stay Healthy
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 1
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i class="fa fa-money" aria-hidden="true"></i>
          Save More
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 1
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i class="fa fa-gavel" aria-hidden="true"></i>
          Know My Rights
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 1
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>