<div class="row">
    <div class="col-sm-12">
        <b> Progress &nbsp; </b>
    </div>
</div>
<div class="row">
    <div class="col-sm-10">
        <progress class="progress" value="{{completion}}" max="100" aria-describedby="challenge-progress">
            <div class="progress">
                <span class="progress-bar" style="width: {{completion}}%;"></span>
            </div>
        </progress>
    </div>
    <div class="col-sm-2">
        <h4 *ngIf="completion === 100" class="complete"><b>&nbsp;Complete!</b></h4>
    </div>
</div>
