<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Work Smarter
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg button" href="#/challenge/1">
          Explore
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button" href="#/challenge/0">
          Challenge 2
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button" href="#/challenge/2">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Live Better
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Stay Healthy
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Save More
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h2 class="text-center">
      Know My Rights
    </h2>
    <div class="row">
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg button disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>