@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

h2 {
    color: cadetblue;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:cadetblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #555;
}

.button:hover {
    background-color: gray
}

.button:active {
    background-color: cadetblue;
    box-shadow: 0 2px #222;
    transform: translateY(4px);
}

.challenge-launch {
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
}

.module {
    margin-top: 15px;
}
