<div class="col-lg-12">
  <div class="row module">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">
          Work Smarter
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch" href="#/challenge/1">
          Explore The Parts of a Job Posting
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch" href="#/challenge/2">
          Understand The Parts of a Job Posting
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch" href="#/challenge/3">
          Find the Right Person for the Job
        </a>
      </div>
    </div>
  </div>

  <div class="row module">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">
          Live Better
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>

  <div class="row module">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">
          Stay Healthy
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>

  <div class="row module">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">
        Save More
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>

  <div class="row module">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">
        Know My Rights
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Explore
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 2
        </a>
      </div>
      <div class="col-sm-4">
        <a class="btn btn-lg button challenge-launch disabled" href="#">
          Challenge 3
        </a>
      </div>
    </div>
  </div>
</div>
