<div class="col-md-6">
  <app-document-display [allowClicks]="false"></app-document-display>
</div>
<div class="col-md-6 col-mc" *ngIf="showQuestion && currentQuestion">
  <div class="row">
    <div class="col-sm-8">
      <div class="prompt">
        {{prompt}}
      </div>
    </div>
  </div>
  <div class="row">
    <form class="form-control" *ngIf="options">
      <div class="radio" *ngFor="let option of options">
        <label><input type="radio"
                      class="option"
                      name="{{option.id}}"
                      (click)="setSelectedOption(option.id)"
                      [checked]="isSelected(option.id)">&nbsp;{{option.text}}</label>
      </div>
    </form>
  </div>
  <button *ngIf="currQ !== '0' " type="button" class="btn btn-primary btn-md raised" (click)="previous()">Previous</button>
  <button *ngIf="currQ !== lastQ " type="button" class="btn btn-primary btn-md raised" (click)="next()">Next</button>
  <button *ngIf="completion === 100 && currQ == lastQ" type="button" class="btn btn-primary btn-md raised" (click)="submit()">Submit</button>
</div>
