@import url(http://fonts.googleapis.com/css?family=Titillium+Web:900|Roboto:400,100);

h1, h2 {
    color: #4682B4;
}
.button {
    background-color: #4682B4; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    width: 13em;
}


.button:hover {
    background-color: gray;
}

.button:active {
    background-color: #4682B4;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.container{
    position: absolute;
    margin-left: 38%;
    margin-top: 0%;
}

.head{
    position: absolute;
    margin-top: 17%;
    margin-left: 8%;
}

.row {
    margin-top: 15px;
}