<div class=".col-md-6" *ngIf="showQuestion">
  <div class="promt">
    {{currentQuestion.promt}}
  </div>
  <form *ngFor ="let option of options">
  <input type="radio"
              [checked]= "isSelected(option.id)"
              value="option.id"
              onclick = "setSelected(option.id)"
              aria-label="label">
              {{option.text}} <br>
  </form>
  <button *ngIf="currQ !== '0' " type="button" class="btn btn-primary btn-lg raised" onclick="previous()">Previous</button>
  <button *ngIf="currQ !== lastQ " type="button" class="btn btn-primary btn-lg raised" onclick="next()">Next</button>
   <button *ngIf="completion === 100 && currQ == lastQ" type="button" class="btn btn-primary btn-lg raised" onclick="submit()">Submit</button>
</div>