<div class="jumbotron text-center">
    <h1>Adult Literacy</h1>
    <p class="lead">A web application designed with adult learners in mind</p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h3>Teaching</h3>
      <p>Organize tasks into categories, similar to how learning topics in schools are divided into classes</p>
    </div>
    <div class="col-md-4">
      <h3>Students</h3>
      <p>Complete tasks assigned by Facilitators</p>
    </div>
    <div class="col-md-4">
      <h3>Facilitators</h3>
      <p>Create categories, tasks, and track student progress</p>
    </div>
  </div>
  