
<div class="document" *ngIf="currentDocument?.rows">
    <div *ngFor="let row of currentDocument.rows; let i = index;" class="row row-container">
        <div class="col-md-9 doc-image-col" [@rowState]="row.state" >
            <img src="{{getImageUrl(i)}}"
                class="document-row-image"
                (click)="clickRow(i)"
                [ngClass]="{'focused-row': focusedRow === i || row.state === 'active' || activeTab === i}">
        </div>
        <div class="col-md-3 doc-tab-col">
            <button *ngIf="showTab(i)"
                    class="btn btn-md btn-success doc-tab"
                    (click)="clickTab(i)"><span class="fa fa-question-circle fa-2x"></span></button>
        </div>
    </div>
</div>
