.document {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    overflow: none;
}
.documentRow {
    width: 100%;
}
.rowContainer {
    position: relative;
}

.focusedRow {
    border: 3px #2b3 solid;
}