.document {
    max-height: 90%;
    max-width: 90%;
    margin: auto;
    overflow: none;
}
.document-row-image {
    float: left;
    width: 100%;
    border-left: 1px #AAA solid;
    border-right: 1px #AAA solid;
}

.doc-tab {
    float: left;
    width: 50px;
    height: 100%;
    padding: 4px;
}

.doc-image-col {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 10;
}

.doc-tab-col {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -5px;
    z-index: 1;
}

.row-container {
    position: relative;
}

.focused-row {
    border: 3px #2b3 solid;
}