.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.chal-display-wrapper {
    display: inline-block;
    margin-right: 10px;
    max-width: 400px;
    max-height: 800px;
    height: 100%;
    width: auto;
}

div.inline {
    float:left;
}

.doc-chal-row {
  height: 80%;
}

.doc-display-wrapper {
    display: inline-block;
    margin-left: 10px;
    width: 55%;
    max-width: 600px;
    max-height: 800px;
    height: auto;
    width: auto;
}

.header-bar {
  height: 100%;
}

.progress {
  width: 100%;
}

.navbar {
  height: 70px;
}

.side-menu-body {
  height: 100%;
  width: 200px;
  background-color: #FFF;
}

.side-menu-toggle {
  float: left;
  margin-top: 10px;
}
