.activate-modal {
  visibility: hidden;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.chal-display-wrapper {
    display: inline-block;
    margin-right: 10px;
    max-width: 400px;
    max-height: 800px;
    height: 100%;
    width: auto;
}

.challenge-title {
  position: absolute;
  width: 90%;
  float: left;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  height: 100%;
  padding-top: 15px;
}

div.inline {
    float:left;
}

.doc-chal-row {
  height: 80%;
}

.navbar {
  height: 70px;
}

.side-menu-container {
  position: absolute !important;
}

.side-menu-body {
  background-color: #111;
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  height: 100%;
  width: 100%;
}

.side-menu-toggle {
  float: left;
}

.main {
    transition: margin-left .5s;
    padding: 50px;
    width: 100%;
    max-width: 1500px;
}

.top-placement {
  z-index: 1000;
}

.side-menu-body a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  height: 250px;
  width: 250px;
}
/* When you mouse over the navigation links, change their color */
.side-menu-body a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.side-menu-body .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}