<md-sidenav-layout>
    <md-sidenav #sidenav mode="side" class="app-sidenav">
        <app-side-menu></app-side-menu>
    </md-sidenav>
    <md-toolbar color="primary">
        <button class="app-icon-button" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>
        <span>&nbsp; {{title}}</span>
    </md-toolbar>
    <div class="doc-chal-row">
        <app-document-display class="doc-display-wrapper"></app-document-display>
        <app-challenge-display class="chal-display-wrapper"></app-challenge-display>
    </div>
    <app-progress-display class="progress"></app-progress-display>
    <app-resource-menu></app-resource-menu>
</md-sidenav-layout>

<div bsModal #helpModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Small modal</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
    </div>
  </div>
</div>
