<md-list>
  <md-list-item> 
    <button md-button> <i class="material-icons">home</i>  Home</button> 
  </md-list-item>
  <md-list-item> 
    <button md-button> <i class="material-icons">account_box</i> Profile</button>
  </md-list-item>
  <md-list-item> 
    <button md-button> <i class="material-icons">assignment</i> Challenges</button> 
  </md-list-item>
  <md-list-item> 
    <button md-button> <i class="material-icons">trending_up</i> Progress</button>
  </md-list-item>
  <md-list-item>
    <button md-button> <i class="material-icons">stars</i> Badges</button> 
  </md-list-item>
  <md-list-item> 
    <button md-button> <i class="material-icons">group</i> Social</button>
  </md-list-item>
  <md-list-item> 
    <button md-button> <i class="material-icons">settings</i> Settings</button> 
  </md-list-item>
</md-list>
