<div id="mySidenav" class="side-menu-body">
  <a class = "glyphicon glyphicon-home" href="#"> Home</a> 
  <a class = "glyphicon glyphicon-user" href="#"> Profile</a> 
  <a class = "glyphicon glyphicon-tasks" href="#"> Challenges</a>
  <a class = "glyphicon glyphicon glyphicon-stats" href="#"> Progress</a>
  <a class = "glyphicon glyphicon-education" href="#"> Badges</a>
  <a class = "glyphicon glyphicon-cloud" href="#"> Social</a>
  <a class = "glyphicon glyphicon-cog" href="#"> Settings</a>
</div>