<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
		<h3>
			TEST
		</h3>
		<p>
			test
		</p>
		</div>
	</div>
    <div class="rightContent">
        <div class="dividebar">
            <div class="dividebar-image"><img src="./goals.png"></div>
            <div class="dividebar-text">GOALS</div>
        </div>
        <div class="divideContent">
            <table class="listTable">
                <tr>
                    <td class="textData">Work Smarter (Employment)</td>
                    <td class="goalAchievedText"><img src="./goalAchieved.png" class="goalImage">GOAL ACHIEVED</td>
                </tr>
                <tr>
                    <td class="textData">Save Money (Financial)</td>
                    <td class="inProgressText"><img src="./inProgress.png" class="goalImage">78% COMPLETED</td>
                </tr>
                <tr>
                    <td class="textData">Live Better (Domestic)</td>
                    <td class="plannedText"><img src="./planned.png" class="goalImage">PLANNED</td>
                </tr>
                <tr>
                    <td class="textData">Be Healthy (Health)</td>
                    <td class="goalAchievedText"><img src="./goalAchieved.png" class="goalImage">GOAL ACHIEVED</td>
                </tr>
                <tr>
                    <td class="textData">I Know my Rights (Am I Being Detained)</td>
                    <td class="goalAchievedText"><img src="./goalAchieved.png" class="goalImage">GOAL ACHIEVED</td>
                </tr>
                <tr>
                    <td class="textData">Get Educated (Schooling)</td>
                    <td class="plannedText"><img src="./planned.png" class="goalImage">PLANNED</td>
                </tr>
            </table>
        </div>
        <div class="dividebar">
            <div class="dividebar-image"><img src="./stats.png"></div>
            <div class="dividebar-text">PROGRESS ANALYTICS</div>
        </div>
        <div class="divideContent">
            <table>
                <tr>
                    <td style="width: 40%"><div class="statText">TIME SPENT IN APP</div> <img src="./timeSpent.png"></td>
                    <td><div class="statText">CHALLENGES</div>  <img src="./completed.png"></td>
                </tr>
                <tr>
                    <td colspan="2" style="padding-top: 20px"><div class="statText">BADGES</div>  <img src="./badges.png"></td>
                </tr>
            </table>
        </div>
    </div>
    
    
</div>

