.challenge-field {
  margin-top: 10%;
}

.doc-display-wrapper {
    display: inline-block;
    margin-left: 10px;
    width: 50%;
    max-width: 600px;
    max-height: 800px;
    height: auto;
    width: auto;
    overflow: hidden;
}

h4{
  color: white;
}
.explore-list{
  background-color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.explore-item {
  margin-top: 8px;
}

.explore-item-prompt {
  padding-top: 2px;
  font-size: 18px;
  font-weight: 700;
}
