<md-card *ngIf="showQuestion">
  <div class="prompt">
    {{currentQuestion.prompt}}
  </div>
  <md-list>
    <md-list-item *ngFor="let option of options">
      <md-radio-button 
                        [checked]="isSelected(option.id)"
                        value="option.id"
                        (click)="setSelectedOption(option.id)"
                        md-no-ink="true"
                        aria-label="label">
          {{option.text}}
      </md-radio-button>
    </md-list-item>
  </md-list>
  <button md-raised-button color="accent" (click)="previous()">Previous</button>
  <button md-raised-button color="accent" (click)="next()">Next</button>
</md-card>
