<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
			<p>
				<canvas id="profileCanvas" width = "200" height = "200">
				</canvas>
			</p>
			<form>
				<input type = "button" value ="Edit Profile" class = "editProfileButton">
				<input type = "button" value ="" class = "logOutButton">
			</form>
			<h3>
				TEST
			</h3>
			<p>
				test
			</p>
		</div>
	</div>
	<div class = "rightContent">

		<div class = "searchBar">
			<form>
				<input type = "text" name= "searchName" class = "searchBox" value ="Search Student" onfocus="this.value==this.defaultValue?this.value='':null">
				<input type = "text" name = "filterTo"  class = "filterBox" value ="Filter To" onfocus="this.value==this.defaultValue?this.value='':null">
			</form>
		</div>

		<div class = "tableDiv">
			<div class = "divWithPadding">
			<table class = "studentTable">
				<thead>
				<tr>
					<th>
						STUDENT
					</th>
					<th>
						GOALS
					</th>
					<th>
						CHALLENGES
					</th>
					<th>
						BADGES
					</th>
					<th>
						OVERALL PROGRESS
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let user of users">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.username}}</td>
				</tr>
				</tbody>
			</table>
			</div>
<div>
			<p>
				<a class = "standardButton" [routerLink]="['/facilitator-dashboard']">Home</a>
				<a class = "standardButton" [routerLink]="['/fac-dash-categories']">Learning Categories</a>
				<a  class = "standardButton" [routerLink]="['/fac-dash-tasks']">All Tasks</a>
			</p>
</div>
		</div>
	</div>
</div>