<!--a modified Bootstrap HTML template for a nice appearance-->
<!--bootstrap css styles-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--for image circle-->
<script type = "text/javascript" src = "scripts.js"></script>

<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
			<p>
				<canvas id="profileCanvas" width = "200" height = "200">
				</canvas>
			</p>
			<form>
				<input type = "button" value ="Edit Profile" class = "editProfileButton">
				<input type = "button" value ="" class = "logOutButton">
			</form>
			<h3>
				TEST
			</h3>
			<p>
				test
			</p>
		</div>
	</div>
	<div class = "rightContent">

		<div class = "searchBar">
			<form>
				<input type = "text" name= "searchName" class = "searchBox" value ="Search Tasks" onfocus="this.value==this.defaultValue?this.value='':null">
				<input type = "text" name = "filterTo"  class = "filterBox" value ="Filter To" onfocus="this.value==this.defaultValue?this.value='':null">
			</form>
		</div>

		<div class = "tableDiv">
			<div class="divWithPadding">
			<table class = "studentTable">
				<ng-container *ngFor="let category of categories; let i = index;" >
					<tr>
						<td>
							{{category.name}} Tasks
						</td>
						<td>
							Description
						</td>
						<td>
							Edit Link
						</td>
					</tr>
					<ng-container *ngFor="let task of tasks; let i = index;" >
						<ng-container *ngIf="task.category == category.name">
					<ng-container *ngIf="i%2 !=0">
						<tr>
							<td class = "oddStudentRows">{{ task.name }}</td>
							<td class = "oddStudentRows">{{ task.description}}</td>
							<td class = "oddStudentRows"><a href="#/facilitator-dashboard/Editor/2">Edit</a></td>
						</tr>
					</ng-container>
					<ng-container *ngIf="i%2 === 0">
						<tr>
							<td class = "evenStudentRows">{{ task.name }}</td>
							<td class = "evenStudentRows">{{ task.description}}</td>
							<td class = "evenStudentRows"><a href="#/facilitator-dashboard/Editor/1">Edit</a></td>
						</tr>
					</ng-container>
					</ng-container>
					</ng-container>
				</ng-container>
			</table>
			</div>
			<div>
				<p>
					<a  class = "standardButton" href = "#/facilitator-dashboard/Home">Home</a>
					<a class = "standardButton" href = "#/facilitator-dashboard/Categories">Learning Categories</a>
					<a  class = "standardButton" href = "#/facilitator-dashboard/Students">Students</a>
				</p>
			</div>

		</div>
	</div>
</div>