<!--a modified Bootstrap HTML template for a nice appearance-->
<!--bootstrap css styles-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!--for image circle-->
<script type = "text/javascript" src = "scripts.js"></script>

<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
			<p>
				<canvas id="profileCanvas" width = "200" height = "200">
				</canvas>
			</p>
			<form>
				<input type = "button" value ="Edit Profile" class = "editProfileButton">
				<input type = "button" value ="" class = "logOutButton">
			</form>
			<h3>
				TEST
			</h3>
			<p>
				test
			</p>
		</div>
	</div>
	<div class = "rightContent">

		<div class = "searchBar">
			<form>
				<input type = "text" name= "searchName" class = "searchBox" value ="Search Categories" onfocus="this.value==this.defaultValue?this.value='':null">
				<input type = "text" name = "filterTo"  class = "filterBox" value ="Filter To" onfocus="this.value==this.defaultValue?this.value='':null">
			</form>
		</div>

		<div class = "tableDiv">
			<table class = "studentTable">
				<tr>
					<td>
						CATEGORY
					</td>
					<td>
						DESCRIPTION
					</td>
					<td>
						# OF TASKS
					</td>
				</tr>
				<ng-container *ngFor="let category of categories; let i = index;" >

					<ng-container *ngIf="i%2 !=0">
						<tr>
							<td class = "oddStudentRows">{{ category.name }}</td>
							<td class = "oddStudentRows">{{ category.description}}</td>
							<td class = "oddStudentRows">{{ category.tasks }}</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="i%2 === 0">
						<tr>
							<td  class = "evenStudentRows">{{ category.name }}</td>
							<td  class = "evenStudentRows">{{ category.description }}</td>
							<td  class = "evenStudentRows">{{ category.tasks }}</td>
						</tr>
					</ng-container>
				</ng-container>
			</table>


		</div>
	</div>
</div>