<div class ="wrapperDiv">

	<div class = "leftMenu">
		<div class = "leftHeaderLogo">
			NEVER TOO LATE
		</div>
		<div class = "leftProfile">
       		<p>
            	<canvas id="profileCanvas" width = "200" height = "200">
                </canvas>
            </p>
			<form>
				<input type = "button" value ="Edit Profile" class = "editProfileButton">
            	<input type = "button" value ="" class = "logOutButton">
			</form>
        		<h3>
			TEST
		</h3>
		<p>
			test
		</p>
		</div>
	</div>
	<div class = "rightContent">
	
		<div class = "searchBar">
			<form>
			<input type = "text" name= "searchName" class = "searchBox" value ="Search Student" onfocus="this.value==this.defaultValue?this.value='':null">
			<input type = "text" name = "filterTo"  class = "filterBox" value ="Filter To" onfocus="this.value==this.defaultValue?this.value='':null">
			</form>
		</div>
        
        <div class = "tableDiv">
        <table class = "studentTable">
        	<tr>
            	<td>
               		STUDENT
                </td>
                <td>
               		GOALS
                </td>
                <td>
               		CHALLENGES
                </td>
                <td>
               		BADGES
                </td>
                <td>
               		OVERALL PROGRESS
                </td>
                <td>
                <form>
               		<input type = "button" name = "mail"  class = "emailIcon" value ="">
				</form>
                </td>
            </tr>
            <tr>
            	<td class = "oddStudentRows">
               		STUDENT
                </td>
                <td class = "oddStudentRows">
               		STUDENT
                </td>
                <td class = "oddStudentRows">
               		STUDENT
                </td>
                <td class = "oddStudentRows">
               		STUDENT
                </td>
                <td class = "oddStudentRows">
               		STUDENT
                </td>
                <td class = "oddStudentRows">
                	<form>
               			<input type = "button" name = "mail"  class = "emailIcon" value ="">
					</form>
                </td>
            </tr>
            <tr>
            	<td class = "evenStudentRows">
               		STUDENT
                </td>
                <td class = "evenStudentRows">
               		STUDENT
                </td>
                <td class = "evenStudentRows">
               		STUDENT
                </td>
                <td class = "evenStudentRows">
               		STUDENT
                </td>
                <td class = "evenStudentRows">
               		STUDENT
                </td>
                <td class = "evenStudentRows">
                	<form>
               			<input type = "button" name = "mail"  class = "emailIcon" value ="">
					</form>
                </td>
            </tr>
        </table>
        </div>
	</div>
</div>
